.profile-t-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  padding-bottom: 100px;
  background-color: #FFF3DA;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.profile-t-header {
  background-color: #fff;
  height: auto;
  padding: 24px 20px 14px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.profile-t-header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 26px;
  position: relative;
}

.profile-t-header-top > :first-child {
  font-size: 33px;
  font-weight: bold;
  color: #333;
  margin: 0;
  padding: 0;
  line-height: 1;
  position: absolute;
  bottom: -36px;
}

.profile-t-header-top .profile-t-link {
  font-size: 14px;
  color: #565656;
  text-decoration: none;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -36px;
  right: 0;
}

.profile-t-header-bottom {
  display: flex;
  align-items: center;
}

.profile-t-link-container {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.profile-t-link-container:hover {
  opacity: 0.9;
  cursor: pointer;
}

.profile-t-avatar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-t-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.profile-t-details span {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.profile-t-details .arrow-icon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
}

.profile-t-report {
  display: block;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-t-report:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.profile-t-report-card {
  display: flex;
  align-items: center;
}

.profile-t-report-card img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-t-report-card span {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.profile-t-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: inherit;
  position: absolute;
  bottom: 100px;
  width: 100%;
  padding: 20px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.profile-t-trainer-mode-text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.profile-t-trainer-mode-icon {
  width: 20px;
  height: 20px;
  color: #333;
  margin-right: 40px;
}