.like-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FFE0B2;
  overflow: hidden;
}

.like-header {
  background-color: #fff;
  height: auto;
  min-height: 120px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.like-header-content {
  width: 100%;
  margin-top: 8px;
}

.like-header-content h1 {
  font-size: 33px;
  font-weight: bold;
  color: #000000;
}

.like-header-content h2 {
  font-size: 15px;
  color: #565656;
}

.like-main-content {
  flex: 1;
  overflow-y: auto;
}

.like-chat-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: #666;
  width: 100%;
  text-align: center;
}

.like-dogs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 10px 20px 10px 12px;
  margin-bottom: 100px;
}

/* 스크롤바 스타일링 */
.like-main-content::-webkit-scrollbar {
  width: 6px;
}

.like-main-content::-webkit-scrollbar-track {
  background: #FFE0B2;
}

.like-main-content::-webkit-scrollbar-thumb {
  background: #FFE0B2;
  border-radius: 3px;
}

.like-main-content::-webkit-scrollbar-thumb:hover {
  background: #FFE0B2;
}