:root {
  --primary-color: #F2762E;
  --background-color: #f5f5f5;
  --card-background: #ffffff;
  --text-color: #333;
  --secondary-text-color: #666;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: calc(100% - 100px);
  padding-bottom: 100px;
  background-color: #FFE0B2;
  box-sizing: border-box;
  padding: 0 0 5px 0;
  margin: 0;
}

.main-header {
  padding: 1rem;
  flex-shrink: 0;
}

.main-header h1 {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100px;
}

.main-logo {
  max-height: 80%;
  width: auto;
  object-fit: contain;
  margin-top: auto;
  margin-bottom: 10px;
  position: relative;
  top: 23px;
  left: 23px;
}

.main-content {
  padding: 10px 16px 10px 16px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}

.main-content::-webkit-scrollbar {
  width: 6px;
}

.main-content::-webkit-scrollbar-track {
  background: #FFE0B2;
}

.main-content::-webkit-scrollbar-thumb {
  background: #FFE0B2;
  border-radius: 3px;
}

.main-content::-webkit-scrollbar-thumb:hover {
  background: #FFE0B2;
}

.main-weather-section,
.main-dbti-card,
.main-info-card,
.main-review-section {
  background-color: var(--card-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.main-weather-section {
  height: 70px;
}

.main-dbti-card {
  height: 70px;
  /* overflow: hidden; */ /* 강아지이미지를 틀안에 들어가게 넣을때 사용 */
  display: flex;
  flex-direction: column;
  position: relative; /* 상대 위치 설정 */
}

.main-dbti-card h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  position: relative;
  top: 3px;
}

.main-dbti-card .main-dog-images {
  width: 110%;
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

.main-dbti-card .main-dog-image1 {
  height: 50px;
  object-fit: contain;
  position: absolute;
  top: 9px;
  right: 23px;
  transform: rotate(21deg);
}

.main-dbti-card .main-dog-image1-2 {
  height: 50px;
  object-fit: contain;
  position: absolute;
  top: 42px;
  right: 76px;
  transform: rotate(21deg);
}

.main-info-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.main-info-card {
  background-color: white;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: left;
}

.main-info-card h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

.main-info-card p {
  font-size: 0.9rem;
  color: #666;
  margin: 0;
}

/* 산책 카드 전용 스타일 */
.walk-card {
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.walk-card .main-dog-images {
  width: 110%;
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

.walk-card .main-dog-image2 {
  height: 80px;
  object-fit: contain;
}

.walk-card .main-dog-image3 {
  height: 80px;
  object-fit: contain;
}

/* 임시보호 카드 전용 스타일 */
.care-card {
  height: 150px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.care-card .main-dog-images {
  width: 110%;
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

.care-card .main-dog-image4 {
  height: 80px;
  object-fit: contain;
}

.care-card .main-dog-image5 {
  height: 80px;
  object-fit: contain;
}

.care-card .main-dog-image6 {
  position: absolute;
  top: 1px;
  right: -5px;
  width: 70px;
  object-fit: contain;
}

.main-review-section {
  padding: 1rem;
  position: relative;
}

.main-review-section h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.main-review-section .main-dog-images {
  width: 110%;
  padding-top: 4%;
  display: flex;
  justify-content: center;
}

.main-review-section .main-dog-image7 {
  height: 70px;
  object-fit: contain;
  position: absolute;
  top: 4px;
  right: 5px;
  transform: translateY(-5px);
}

.clickable-card:hover .main-dog-image7 {
  transform: translateY(-5px);
}

.main-tags {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.main-tag {
  border: 1px solid #f2762e;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: #f2762e;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-tag:hover,
.main-tag:focus {
  background-color: #f2762e;
  color: var(--card-background);
}

@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
  }
}

.clickable-card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: block;
  text-decoration: none;
  color: inherit;
}

.clickable-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 날씨 */
.location {
  font-size: 21px;
  font-weight: bold;
  position: relative;
  top: -5px;
  right: -5px;
}

.current-temp {
  font-size: 40px;
  font-weight: bold;
  margin-left: 10px;
  position: relative;
  top: -5px;
  right: 7px;
}

.weather-icon {
  width: 60px;
  height: 60px;
  position: relative;
  top: -100px;
  right: -280px;
}

.weather-description {
  font-size: 14px;
}

.min-max-temp {
  font-size: 15px;
  position: relative;
  top: -160px;
  right: 0px;
  text-align: right;
  display: block;
}

.rain-probability {
  font-size: 15px;
  position: relative;
  top: -158px;
  right: 0px;
  text-align: right;
  display: block;
}

