.new-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #e5e5e5;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    margin: 0;
  }
  
  .new-header {
    background-color: #fff;
    height: auto;
    min-height: 209px;
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .new-header-content {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .new-header-content h1 {
    font-size: 33px;
    font-weight: bold;
    color: #000000;
    margin: 0 0 auto 0;
  }
  
  .new-header-buttons {
    display: flex;
    justify-content: center; /* 버튼을 가운데 정렬 */
    width: 100%;
    gap: 130px;
  }
  
  .new-header-button {
    background: none;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    color: #565656;
    cursor: pointer;
    position: relative;
    margin-bottom: -1px;
  }
  
  .new-header-button.active {
    color: #000;
    font-weight: 500;
  }
  
  .new-header-button.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #075915;
  }
  
  .new-header-button:hover {
    color: #000;
  }
  
  